---
title: 404
---
extends layouts/_layout
block content
  .not-found
    .not-found__content
      span ):
      .not-found__block
        h1 404
        h2 Страница не найдена
        p Упс, у нас ошибка. Возможно страницы не существует. Перейдите на главную страницу или воспользуйтесь поиском по сайту.
