---
title: Index Page
---
extends layouts/_layout
block content
  include ./home/intro
  include ./home/home-services
  include ./home/home-consultation
  include ./home/home-advantages
  //- include ./home/
  //- include ./home/
  //- include ./home/
  //- include ./home/