---
title: Акции
---
extends layouts/_layout
block content
  +breadcrumbs(['НОВИВ', 'Акции'])
  .share
    .container
      .row
        .col-xs-12
          h1 Акции стоматологической клиники НОВИВ
        .col-xs-8
          .share__block(style="background-image: url(img/contacts.png)")
            a(href="#") Имплантат Nobel Biocare под ключ
        .col-xs-4
          .share__block(style="background-image: url(img/contacts.png)")
            a(href="#") Приём всех специалистов Бесплатно 0 рублей
        .col-xs-4
          .share__block(style="background-image: url(img/contacts.png)")
            a(href="#") Комплексное лечение брекетами по специальной цене
        .col-xs-8
          .share__block(style="background-image: url(img/contacts.png)")
            a(href="#") Отбеливание Zoom 3 со скидкой 50%
        .col-xs-6
          .share__block(style="background-image: url(img/contacts.png)")
            a(href="#") Съемный протез всего за 35 000 рублей
        .col-xs-6
          .share__block(style="background-image: url(img/contacts.png)")
            a(href="#") Металлокерамическая коронка за 8000 рублей
