footer.footer
  .footer__top
    .container
      .footer__title
        .row.middle-xs
          .col-xs-7
            a(href="#").btn Посмотреть все услуги
              i.icon.icon-down-arrow
          .col-xs-5
            ul
              li
                a(href="#") Статьи
              li
                a(href="#") Партнеры
              li
                a(href="#") Для клиентов
      .footer__content
        .row
          .col-xs-5
            .footer__nav
              ul
                li
                  a(href="#") Цены
                li
                  a(href="#") Галерея
                li
                  a(href="#") Акции
              ul
                li
                  a(href="#") Вопрос врачу
                li
                  a(href="#") Коллектив
                li
                  a(href="#") Отзывы
              ul
                li
                  a(href="#") О клинике
                li
                  a(href="#") Награды
                li
                  a(href="#") Лицензии
                li
                  a(href="#") Вакансии
          .col-xs-5.col-xs-offset-2
            .footer__contacts
              p  г. Фрязино, пр-т Мира  д. 29
              a(href="tel:+79629767812") +7 (962)-976-78-12
              a(href="tel:+74962556020") +7 (496) 255-60-20
              p Ежедневно с 9:00 до 20:00
              a(href="mailto:info@noviv.ru") info@noviv.ru
          .col-xs-7
            .footer__map
              a(href="#") Политика конфиденциальности
              a(href="#") Карта сайта
          .col-xs-5
            .footer__social
              ul
                li
                  a(href="#") 
                  i.icon.icon-vk
                li
                  a(href="#") 
                  i.icon.icon-instagram
                li
                  a(href="#") 
                  i.icon.icon-fb
                li
                  a(href="#") 
                  i.icon.icon-ok
  .footer__bottom
    .container
      .row
        .col-xs-9
          .footer__bottom__block
            img(src="img/home/logo-2.svg", alt="")
            p 2008-2018 © Семенйная стомотологическая клиника НОВИВ. Все права защищены. Имеются противопоказания необходима консультация специалиста. 
              span Вся информация, включая цены, на этом интернет-сайте носит исключительно информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями Статьи 437•2 ГК РФ.
        .col-xs-3
          .footer__bottom__autor
            a(href="#") Дизайн<br>Студии Бакина  
              i.icon.icon-logo-author
