@font-face {
  font-family: "iconfont";
  src: url('../fonts/iconfont.eot');
  src: url('../fonts/iconfont.eot?#iefix') format('eot'),
    url('../fonts/iconfont.woff2') format('woff2'),
    url('../fonts/iconfont.woff') format('woff'),
    url('../fonts/iconfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$icon-checkbox-active: "\EA01";
$icon-checkbox: "\EA02";
$icon-down-arrow: "\EA03";
$icon-fb: "\EA04";
$icon-instagram: "\EA05";
$icon-left-arrow: "\EA06";
$icon-logo-author: "\EA07";
$icon-ok: "\EA08";
$icon-right-arrow: "\EA09";
$icon-vk: "\EA0A";


%icon {
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  text-rendering: auto;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  @extend %icon;
  display: inline-block;
}

.icon-checkbox-active:before { content: $icon-checkbox-active; }
.icon-checkbox:before { content: $icon-checkbox; }
.icon-down-arrow:before { content: $icon-down-arrow; }
.icon-fb:before { content: $icon-fb; }
.icon-instagram:before { content: $icon-instagram; }
.icon-left-arrow:before { content: $icon-left-arrow; }
.icon-logo-author:before { content: $icon-logo-author; }
.icon-ok:before { content: $icon-ok; }
.icon-right-arrow:before { content: $icon-right-arrow; }
.icon-vk:before { content: $icon-vk; }
