section.home-advantages
  .container
    .row.center-xs
      .col-xs-12.center-xs
        .heading
          h2 Преимущества лечения зубов в клинике НОВИВ
      .col-xs-3
        .home-advantages__block
          img(src="img/home/spec.svg", alt="")
          p Высококлассные специалисты
      .col-xs-3
        .home-advantages__block
          img(src="img/home/obor.svg", alt="")
          p Современное оборудование
      .col-xs-3
        .home-advantages__block
          img(src="img/home/mone.svg", alt="")
          p Приятные <br>цены
      .col-xs-3
        .home-advantages__block
          img(src="img/home/clients.svg", alt="")
          p Счастливые <br>клиенты