section.home-services
  .container
    .row
      .col-xs-8.col-xs-offset-2 
        .heading
          h2 Услуги стоматологии НОВИВ
        .row.center-xs
          .col-xs-4
            a(href="#").home-services__block
              img(src="img/home/terap.svg", alt="")
              p Терапия
          .col-xs-4
            a(href="#").home-services__block
              img(src="img/home/surg.svg", alt="")
              p Хирургия
          .col-xs-4
            a(href="#").home-services__block
              img(src="img/home/impl.svg", alt="")
              p Имплантология
          .col-xs-4
            a(href="#").home-services__block
              img(src="img/home/orto.svg", alt="")
              p Ортопедия
          .col-xs-4
            a(href="#").home-services__block
              img(src="img/home/ortodon.svg", alt="")
              p Ортодонтия
          .col-xs-4
            a(href="#").home-services__block
              img(src="img/home/paron.svg", alt="")
              p Пародонтология
          .col-xs-4
            a(href="#").home-services__block
              img(src="img/home/este.svg", alt="")
              p Эстетическая стоматология
          .col-xs-4
            a(href="#").home-services__block
              img(src="img/home/gige.svg", alt="")
              p Профессиональная гигиена рта
          .col-xs-4
            a(href="#").home-services__block
              img(src="img/home/child.svg", alt="")
              p Детская стоматология